{{- /*gotype: github.com/rynhndrcksn/snippetbox/cmd/web.templateData*/ -}}
{{define "title"}}About{{end}}

{{define "main"}}
    <h2>About</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias asperiores dolore ea et expedita id labore
        laudantium, nihil non quaerat quasi ratione repellat repellendus rerum, sequi sunt ullam voluptatum.</p>
{{end}}
