{{- /*gotype: github.com/rynhndrcksn/snippetbox/cmd/web.templateData*/ -}}
{{define "title"}}Snippet #{{.Snippet.ID}}{{end}}

{{define "main"}}
    {{with .Snippet}}
    <div class="snippet">
        <div class="metadata">
            <strong>{{.Title}}</strong>
            <span>#{{.ID}}</span>
        </div>
        <pre><code>{{.Content}}</code></pre>
        <div class="metadata">
            <time>Create: {{.CreatedAt}}</time>
            <time>Expires: {{.ExpiresAt}}</time>
        </div>
    </div>
        {{end}}
{{end}}