{{- /*gotype: github.com/rynhndrcksn/snippetbox/cmd/web.templateData*/ -}}
{{define "title"}}Snippet #{{.Snippet.ID}}{{end}}

{{define "main"}}
    <div class="snippet">
        <div class="metadata">
            <strong>{{.Snippet.Title}}</strong>
            <span>#{{.Snippet.ID}}</span>
        </div>
        <pre><code>{{.Snippet.Content}}</code></pre>
        <div class="metadata">
            <time>Create: {{.Snippet.CreatedAt}}</time>
            <time>Expires: {{.Snippet.ExpiresAt}}</time>
        </div>
    </div>
{{end}}